*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
    width: 600px;
    height: 100vh;
}

#home{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100vh;
    background: rgb(17, 1, 91);
    align-items: center;
    margin: auto;
}

#home h1{
    color: rgb(255, 0, 255);
    font-size: 6rem;
    margin-top: 10%;
}

#home h3{
    color: white;
    font-size: 3rem;
    margin-top: 30%;
}

#home h5{
    color: greenyellow;
    font-size: 1.5rem;
}

#playNow{
    width: 300px;
    height: 60px;
    color: white;
    background: rgb(34, 20, 221);
    border: 3px solid rgb(34, 20, 221);
    border-radius: 30px;
    margin-top: 10%;
    font-size: 1.5rem;
}

#firstAbout{
    width: 300px;
    height: 60px;
    color: rgb(34, 20, 221);
    background: rgb(17, 1, 91);
    border: 3px solid rgb(34, 20, 221);
    border-radius: 30px;
    margin-top: 10%;
    font-size: 1.5rem;
}

#about{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100vh;
    background: rgb(17, 1, 91);
    align-items: center;
    /* border: 1px solid yellow; */
    position: relative;
    display: none;
}

#aboutBack{
    position: absolute;
    top: 20px;
    left: 10px;
    background: red;
    color: white;
    width: 50px;
    height: 20px;
    border: none;
}

#aboutApp{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20%;
}

#aboutApp span, #difficultyAbout span{
    color: yellowgreen;
    font-weight: bold;
}

#difficulty{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100vh;
    background: rgb(17, 1, 91);
    align-items: center;
    /* border: 1px solid yellow; */
    position: relative;
    display: none;
}

#backOne{
    position: absolute;
    top: 20px;
    left: 10px;
    background: red;
    color: white;
    width: 50px;
    height: 20px;
    border: none;
}

#levelUp{
    margin-top: 5%;
    width: 200px;
    height: 50px;
    color: white;
    background: rgb(47, 33, 255);
    border: 3px solid rgb(47, 33, 255);
    border-radius: 30px;
    font-size: 1.5rem;
}

#difficulty p{
    color: white;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 4px;
}

#easyDiv{
    width: 300px;
    height: 150px;
    /* border: 1px solid yellow; */
    margin-top: 10%;
}

#easyDiv button {
    width: 280px;
    height: 60px;
    color: white;
    background: rgb(17, 1, 91);
    border: 3px solid rgb(34, 20, 221);
    border-radius: 30px;
    /* margin-top: 10%; */
    font-size: 1.5rem;
    box-shadow: 0px 0px 8px rgb(153, 127, 171);
    margin-left: 10px;
}

#normalDiv{
    width: 300px;
    height: 150px;
    /* border: 1px solid yellow; */
    margin-top: 5%;
}

#normalDiv button {
    width: 280px;
    height: 60px;
    color: white;
    background: rgb(17, 1, 91);
    border: 3px solid rgb(34, 20, 221);
    border-radius: 30px;
    /* margin-top: 10%; */
    font-size: 1.5rem;
    box-shadow: 0px 0px 8px rgb(153, 127, 171);
    margin-left: 10px;
}

#hardDiv{
    width: 300px;
    height: 150px;
    /* border: 1px solid yellow; */
    margin-top: 5%;
}

#hardDiv button {
    width: 280px;
    height: 60px;
    color: white;
    background: rgb(17, 1, 91);
    border: 3px solid rgb(34, 20, 221);
    border-radius: 30px;
    /* margin-top: 10%; */
    font-size: 1.5rem;
    box-shadow: 0px 0px 8px rgb(153, 127, 171);
    margin-left: 10px;
}

#secondAbout{
    /* margin-top: 5%; */
    width: 200px;
    height: 50px;
    color: white;
    background: rgb(34, 20, 221);
    border: 3px solid rgb(34, 20, 221);
    border-radius: 30px;
    /* margin-top: 10%; */
    font-size: 1.5rem;
}

#difficultyAbout{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100vh;
    background: rgb(17, 1, 91);
    align-items: center;
    /* border: 1px solid yellow; */
    position: relative;
    display: none;
}

#difficultyAbout div{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 15px;
}

#difficultyBack{
    position: absolute;
    top: 5px;
    left: 10px;
    background: red;
    color: white;
    width: 30px;
    height: 20px;
    border: none;
}

#easyExam, #normalExam, #hardExam{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100vh;
    background: rgb(17, 1, 91);
    align-items: center;
    position: relative;
    display: none;
}

#backTwo{
    position: absolute;
    top: 20px;
    left: 10px;
    background: red;
    color: white;
    width: 50px;
    height: 20px;
    border: none;
}

#level, #normalLevel, #hardLevel{
    color: white;
    font-size: 2rem;
    margin-top: 20px;
}

#question, #normalQuestion, #hardQuestion{
    color: lightblue;
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
}

#buttonA, #buttonB, #buttonC, #buttonD, #normalbuttonA, #normalbuttonB, #normalbuttonC, #normalbuttonD, 
#hardbuttonA, #hardbuttonB, #hardbuttonC, #hardbuttonD{
    color: white;
    font-size: 2rem;
    margin-bottom: 10px;
    padding: 5px;
    background: rgb(17, 1, 91);
    border: none;
}

#commands{
   margin-top: 60px;
   align-items: center;
}

#easyNext, #normalNext, #hardNext{
    /* margin-top: 5%; */
    width: 200px;
    height: 50px;
    color: white;
    background: rgb(34, 20, 221);
     border: 3px solid rgb(34, 20, 221);
    border-radius: 30px;
    /* margin-top: 10%; */
    font-size: 1.5rem;
}

#easySubmit, #normalSubmit, #hardSubmit{
    /* margin-top: 5%; */
    width: 200px;
    height: 50px;
    color: white;
    background: rgb(34, 20, 221);
    border: 3px solid rgb(34, 20, 221);
    border-radius: 30px;
    margin-top: 10%;
    font-size: 1.5rem;
    display: none;
}

#easyResult, #normalResult, #hardResult{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100vh;
    background: rgb(17, 1, 91);
    align-items: center;
    position: relative;
    display: none;
}

#yourScore, #normalScore, #hardScore{
    color: lightblue;
    margin: 30%;
    text-align: center;
}

#easyHome, #normalHome, #hardHome{
    width: 200px;
    height: 50px;
    color: white;
    background: lightgreen;
    border: 3px solid lightgreen;
    border-radius: 30px;
    margin-top: 10%;
    font-size: 1.5rem;
}

/* #normalExam{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100vh;
    background: rgb(17, 1, 91);
    align-items: center;
    position: relative;
    display: none;
}

#hardExam{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100vh;
    background: rgb(17, 1, 91);
    align-items: center;
    position: relative;
    display: none;
} */